{% extends "layout.html" %}

{% block content %}

<main>

<!-- ======= Advisory Board Section ======= -->
<section id="advisory-board" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Advisory Board</h2>
        </div>

        <div class="col-md-4 col-md-12 col-md-4">
            <table class="table table-hover">
                <thead>
                <th>NAME</th>
                <th>INSTITUTION</th>
                <th>COUNTRY</th>
                </thead>
                <tbody class="table-group-divider"><tr></tr></tbody>
                <tr>
                    <td>Ir. Prof. Dato' Dr. Ewe Hong Tat</td>
                    <td><i>President/CEO</i> <br> Universiti Tunku Abdul Rahman</td>
                    <td>Malaysia</td>
                </tr>
                <tr>
                    <td>Prof. Dr. Ir. Marwan</td>
                    <td><i>Rector</i> <br> Universitas Syiah Kuala</td>
                    <td>Indonesia</td>
                </tr>
                <tr>
                    <td>Prof. Dr. Hizir Sofyan</td>
                    <td><i>Head, Graduate School</i> <br> Universitas Syiah Kuala </td>
                    <td>Indonesia</td>
                </tr>
                <tr>
                    <td>Ts. Dr. Yap Wun She</td>
                    <td><i>Dean, Lee Kong Chian Faculty of Engineering and Science</i> <br> Universiti Tunku Abdul Rahman</td>
                    <td>Malaysia</td>
                </tr>
                <tr>
                    <td>Assoc. Prof. Dr. Chang Yun Fah</td>
                    <td>Taylor's University</td>
                    <td>Malaysia</td>
                </tr>
            </table>
        </div>

    </div>
</section><!-- End Advisory Section -->



<!-- ======= Organising Committee Section ======= -->
<section id="organising-committee" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Organising Committee</h2>
        </div>

        <div class="col-lg-4 col-md-12">
            <table class="table table-hover">
                <tr>
                    <td>Chairperson</td>
                    <td>Dr Goh Yong Kheng</td>
                </tr>
                <tr>
                    <td>Vice-chair</td>
                    <td>Dr Sim Hong Seng</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Dr Qua Kiat Tat</td>
                </tr>
                <tr>
                    <td>Treasurer</td>
                    <td>Dr Pan Wei Yeing</td>
                </tr>
                <tr>
                    <td>Scientific Committee Chair</td>
                    <td>Dr Chong Zhi Lin</td>
                </tr>
                <tr>
                    <td>Publication Manager</td>
                    <td>Dr Sim Hong Seng</td>
                </tr>
                <tr>
                    <td>Program/Logistic Manager</td>
                    <td>Dr Chin Jia Hou</td>
                </tr>
                <tr>
                    <td>Publicity/Registration Manager</td>
                    <td>Dr Wong Wai Kuan</td>
                </tr>
                <tr>
                    <td>Social Event Manager</td>
                    <td>Pn. Azimah bt Mohd</td>
                </tr>
            </table>
        </div>

    </div>
</section><!-- End Organising Committee Section -->


</main>
<!-- End #main -->


{% endblock %}


