{% extends "layout.html" %}

{% block content %}

<main>

<!-- ======= Advisory Board Section ======= -->
<section id="advisory-board" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Advisory Board</h2>
        </div>

        <div class="col-md-4 col-md-12 col-md-4">
            <table class="table table-hover">
                <thead>
                <th>NAME</th>
                <th>INSTITUTION</th>
                <th>COUNTRY</th>
                </thead>
                <tbody class="table-group-divider"><tr></tr></tbody>
                <tr>
                    <td>Ir. Prof. Dato' Dr. Ewe Hong Tat</td>
                    <td><i>President/CEO</i> <br> Universiti Tunku Abdul Rahman</td>
                    <td>Malaysia</td>
                </tr>
                <tr>
                    <td>Prof. Dr. Ir. Marwan</td>
                    <td><i>Rector</i> <br> Universitas Syiah Kuala</td>
                    <td>Indonesia</td>
                </tr>
                <tr>
                    <td>Prof. Dr. Hizir Sofyan</td>
                    <td><i>Head, Graduate School</i> <br> Universitas Syiah Kuala </td>
                    <td>Indonesia</td>
                </tr>
                <tr>
                    <td>Ts. Dr. Yap Wun She</td>
                    <td><i>Dean, Lee Kong Chian Faculty of Engineering and Science</i> <br> Universiti Tunku Abdul Rahman</td>
                    <td>Malaysia</td>
                </tr>
                <tr>
                    <td>Assoc. Prof. Dr. Chang Yun Fah</td>
                    <td>Taylor's University</td>
                    <td>Malaysia</td>
                </tr>
            </table>
        </div>

    </div>
</section><!-- End Advisory Section -->



<!-- ======= Conference Scientific Committee Section ======= -->
<section id="scientific-committee" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Conference Scientific Committee</h2>
        </div>

        <div class="col-md-4 col-md-12 col-md-4">
            <table class="table table-hover">
                <thead>
                <th>NAME</th>
                <th>INSTITUTION</th>
                <th>COUNTRY</th>
                </thead>
                <tbody class="table-group-divider"><tr></tr></tbody>
                <tr>
                    <td>Prof. Michael Ng Kwok-Po</td>
                    <td>The University of Hong Kong</td>
                    <td>Hong Kong</td>
                </tr>
                <tr>
                    <td> Prof. Xie Min </td>
                    <td> City University of Hong Kong </td>
                    <td> Hong Kong </td>
                </tr>
                <tr>
                    <td> Dr. Zhi Song </td>
                    <td> Shenyang Agricultural University </td>
                    <td> China </td>
                </tr>
                <tr>
                    <td> Prof. Herman Mawengkang </td>
                    <td> Universitas Sumatera Utara </td>
                    <td> Indonesia </td>
                </tr>
                <tr>
                    <td> Prof. Huang Huang-Nan </td>
                    <td> Tunghai University </td>
                    <td> Taiwan </td>
                </tr>
                <tr>
                    <td> Prof. Philippe Castagliola </td>
                    <td> Nantes Université </td>
                    <td> France </td>
                </tr>
                <tr>
                    <td> Prof. Wong Hoi Ying </td>
                    <td> The Chinese University of Hong Kong </td>
                    <td> Hong Kong </td>
                </tr>
                <tr>
                    <td> Dr. Li Chenglong </td>
                    <td> Northwestern Polytechnical University </td>
                    <td> China </td>
                </tr>
                <tr>
                    <td> Dr. Sajal Saha </td>
                    <td> International University of Business Agriculture and Technology </td>
                    <td> Bangladesh </td>
                </tr>
                <tr>
                    <td> Dr. Winai Bodhisuwan </td>
                    <td> Kasetsart University </td>
                    <td> Thailand </td>
                </tr>
                <tr>
                    <td> Prof. Marco Marozzi </td>
                    <td> Ca' Foscari University of Venice </td>
                    <td> Italy </td>
                </tr>
                <tr>
                    <td> Dr. Tahir Mahmood </td>
                    <td> University of the West of Scotland </td>
                    <td> United Kingdom </td>
                </tr>
                <tr>
                    <td> Prof. Qiu Peihua </td>
                    <td> University of Florida </td>
                    <td> United State of America </td>
                </tr>
                <tr>
                    <td> Prof. Amitava Mukherjee </td>
                    <td> Xavier School of Management </td>
                    <td> India </td>
                </tr>
                <tr>
                    <td> Prof. Abdel Salhi </td>
                    <td> University of Essex </td>
                    <td> United Kingdom </td>
                </tr>
                <tr>
                    <td> Dr. Yuwadee Klomwises </td>
                    <td> King Mongkut’s Institute of Technology Ladkrabang </td>
                    <td> Thailand </td>
                </tr>
                <tr>
                    <td> Dr. Xuelong Hu </td>
                    <td> Nanjing University of Posts and Telecommunications </td>
                    <td> China </td>
                </tr>
                <tr>
                    <td> Dr. Wang Junjie </td>
                    <td> University of Economics and Law </td>
                    <td> China </td>
                </tr>
                <tr>
                    <td> Dr. Anu Sayal </td>
                    <td> Taylor's University </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Prof. Ong Seng Huat </td>
                    <td> UCSI University </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Prof. Leong Wah June  </td>
                    <td> Universiti Putra Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Ng Kok Haur </td>
                    <td> Universiti Malaya </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Lim Fong Peng  </td>
                    <td> Universiti Putra Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Chen Chuei Yee </td>
                    <td> Universiti Putra Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Prof. Nor Haniza Sarmin </td>
                    <td> Universiti Teknologi Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Fong Wan Heng </td>
                    <td> Universiti Teknologi Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Liew Kian Wah </td>
                    <td> University of Nottingham </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Md Zobaer Hasan </td>
                    <td> Monash University Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Teh Sin Yin </td>
                    <td> Universiti Sains Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Hang See Pheng </td>
                    <td> Universiti Teknologi Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Kek Sie Long </td>
                    <td> Universiti Tun Hussein Onn Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Teoh Wei Lin </td>
                    <td> Heriot-Watt University </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Lee Ming Ha </td>
                    <td> Swinburne University, Sarawak </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Sim Shin Zhu </td>
                    <td> University of Nottingham </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Gloria Teng Ai Hui </td>
                    <td> University of Nottingham </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Prof. Darren Ong Chung Lee </td>
                    <td> Xiamen University </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Khaw Khai Wah </td>
                    <td> Universiti Sains Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Chew Xin Ying </td>
                    <td> Universiti Sains Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Johnny Lim Khai Yang </td>
                    <td> Universiti Sains Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Teh Wen Chean </td>
                    <td> Universiti Sains Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Mohd Shareduwan Bin Mohd Kasihmuddin </td>
                    <td> Universiti Sains Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Teh Su Yean </td>
                    <td> Universiti Sains Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Fam Pei Shan </td>
                    <td> Universiti Sains Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Prof. Michael Khoo Boon Chong </td>
                    <td> Universiti Sains Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Prof. Yeong Wai Chung </td>
                    <td> Sunway University </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Lim Sok Li </td>
                    <td> Taylor's university </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr Tay Chai Jian </td>
                    <td> Universiti Malaysia Pahang </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. You Huay Woon </td>
                    <td> Universiti Kebangsaan Malaysia </td>
                    <td> Malaysia </td>
                </tr>
                <tr>
                    <td> Dr. Lim Chia Sien </td>
                    <td> Asia Pacific University </td>
                    <td> Malaysia </td>
                </tr>
            </table>
        </div>

    </div>
</section><!-- End Organising Committee Section -->

<!-- ======= Organising Committee Section ======= -->
<section id="organising-committee" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Organising Committee</h2>
        </div>

        <div class="col-lg-4 col-md-12">
            <table class="table table-hover">
                <tr>
                    <td>Chairperson</td>
                    <td>Dr Goh Yong Kheng</td>
                </tr>
                <tr>
                    <td>Vice-chair</td>
                    <td>Dr Sim Hong Seng</td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Dr Qua Kiat Tat</td>
                </tr>
                <tr>
                    <td>Treasurer</td>
                    <td>Dr Pan Wei Yeing</td>
                </tr>
                <tr>
                    <td>Scientific Committee Chair</td>
                    <td>Dr Chong Zhi Lin</td>
                </tr>
                <tr>
                    <td>Publication Manager</td>
                    <td>Dr Sim Hong Seng</td>
                </tr>
                <tr>
                    <td>Program/Logistic Manager</td>
                    <td>Dr Chin Jia Hou</td>
                </tr>
                <tr>
                    <td>Publicity/Registration Manager</td>
                    <td>Dr Wong Wai Kuan</td>
                </tr>
                <tr>
                    <td>Social Event Manager</td>
                    <td>Pn. Azimah bt Mohd</td>
                </tr>
            </table>
        </div>

    </div>
</section><!-- End Organising Committee Section -->


</main>
<!-- End #main -->


{% endblock %}


