{% extends "layout.html" %}

{% block content %}


<!-- ======= Intro Section ======= -->
<section id="home" class="services sections-bg">
    <div class="container position-relative">
        <div class="row gy-4">
            <div class="col-lg-6">
                <img src="/static/assets/img/UTAR_Sg_Long.png" class="img-fluid rounded-4 mb-4" alt="">
            </div>

            <div class="col-lg-6">
                <div class="content ps-0 ps-lg-5">

                    <div class="container"><h1>ICMSA2024</h1></div>
                    <div class="container" style="margin-bottom: 10px;"><h2>The 19th IMT-GT International Conference on
                        Mathematics, Statistics and their Applications</h2></div>
                    <div class="container" style="margin-bottom: 10px;"><h3 style="color:red;">Conference Mode:
                        Hybrid</h3></div>

                    <div class="container" style="margin-bottom: 10px;">
                        <i class="bi bi-calendar3 d-flex align-items-center"> &nbsp; &nbsp; 27 May 2024 - 28 May
                            2024 </i>
                        <i class="bi bi-clock d-flex align-items-center"> &nbsp; &nbsp; 8:00 am - 6:00 pm</i>
                        <i class="bi bi-geo-alt d-flex align-items-center"> &nbsp; &nbsp; Bangi Resort Hotel, Bangi,
                            Selangor, Malaysia</i>
                    </div>
                    <div class="row gy-4">
                        <a href="/submission" class="btn btn-warning  cta-btn btn-block" style="margin-bottom: 10px;">
                            Call for Papers</a></div>
                    <div class="row gy-4">
                        <a href="/registration" class="btn btn-primary btn-block">Register NOW!</a></div>
                </div>
            </div>
            <div class="container" style="margin-bottom: 12px;">
                <h2>
                    <mark>     >>> <a href="/static/assets/files/ICMSA2024_abstract_book.pdf"  target="_blank">ICMSA2024 Abstract Book</a> <<< </mark>
                </h2>
            </div>
        </div>
    </div>

</section>
<!-- End Intro Section -->


<main id="main">

    <!-- ======= Theme Section ======= -->
    <section id="theme" class="issues">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Conference Theme</h2>
                <h3>"Mathematics and Statistics in Data Science Era"</h3>

                </br></br>
                <p>The 19th IMT-GT ICMSA 2024 Will Start in</p>
                <div class="container">
                    <div id="timer" class="display-4"></div>
                </div>

            </div>
            <p>This international conference is initiated by IMT-GT (Indonesia-Malaysia-Thailand Growth Triangle)
                consortium to promote mathematics and statistics in the region. The goal of the conference is to bring
                together scientists, mathematicians, statisticians, and academicians from the region of Indonesia,
                Malaysia, and Thailand, as well as any other region of the world, to share knowledge, expertise, and the
                recent development of mathematics and statistics in the form of plenary presentations and some social
                events.
            </p>

            <p>
                In today's digital age, data science has emerged as a critical discipline for extracting valuable
                insights from vast data. As data becomes increasingly abundant and complex, the role of mathematics and
                statistics in data science has become even more significant. With the theme "Mathematics and Statistics
                in Data Science Era", the conference hopes to attract researchers to share their findings, explore the
                importance of mathematics and statistics, and highlight their essential roles in data analysis,
                modelling, and prediction.
            </p>
        </div>
    </section><!-- End Theme Section -->

    <!-- ======= Scope Section ======= -->
    <section id="guide-to-authors" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Scope of the Conference</h2>
            </div>

            <div text-align="left">
                <p>The scope of the conference includes the most recent theories, issues, and practices in the area
                    of:</p>
                <ul>
                    <li>Linear Algebra, Optimisation, and Control Theory</li>
                    <li>Statistical Analysis and Data Science</li>
                    <li>Modelling, Machine Learning, and Business Intelligence</li>
                    <li>Computational Mathematics</li>
                    <li>Numerical Analysis and Scientific Computing</li>
                    <li>Ordinary Differential Equation and Dynamical System</li>
                    <li>Number Theory and Combinatorics</li>
                    <li>Algebra, Algebraic Geometry, Analysis, and Operator Algebra</li>
                    <li>Functional Analysis, Lie Groups, Lie Algebras, and Topology</li>
                    <li>Probability Theory and Stochastic Processes</li>
                    <li>Mathematical Finance and Actuarial Science</li>
                    <li>Cosmology and Mathematical Physics</li>
                    <li>Applications of Mathematics and Statistics</li>
                    <li>Surveys and Official Statistics</li>
                </ul>
            </div>
        </div>
    </section><!-- End Scope Section -->

    <!-- ======= Proceedings Section ======= -->
    <section id="proceedings" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Proceedings of the Conference</h2>
            </div>
            <div class="d-flex align-items-center  justify-content-center">
                <a href="https://www.itm-conferences.org/">
                    <img src="/static/assets/img/logo_itmconf.png" class="img-fluid rounded-4 mb-4"
                         alt="logo_itmconf.png" target=”_blank”></a>
            </div>
            <div text-align="left">
                <p>
                    All accepted and presented full papers will be published in the <b>ITM Web of Conferences</b>
                    (eISSN: 2271-2097)
                    indexed in the <b>Web of Science</b> (<i>Conference Proceedings Citation Index</i>).
                </p>
            </div>

        </div>
    </section><!-- End Scope Section -->


    <!-- ======= Important Dates Section ======= -->
    <section id="important-dates" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Important Dates</h2>
            </div>
            <div class="col-lg-2 col-md-6">
            </div>
            <div class="col-lg-12 col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr>
                        <td>Call for Papers</td>
                        <td>1 Aug 2023</td>
                    </tr>
                    <tr>
                        <td>
                            <del>Deadline of Abstract Submission</del>
                            <br> <b>Abstract Submission Deadline Extended </b></td>
                        <td>
                            <del>31 Oct 2023</del>
                            <br> <b>15 Dec 2023</b></td>
                    </tr>
                    <tr>
                        <td>Abstract Acceptance Notification</td>
                        <td>
                            <del>15 Dec 2023</del>
                            <br> <b>31 Dec 2023</b></td>
                    </tr>
                    <tr>
                        <td>
                            <del>Deadline of Full Paper Submission</del>
                            <br> <b>Full Paper Submission Deadline Extended</b>
                        </td>
                        <td>
                            <del>15 Jan 2024</del>
                            <br> <b>31 Jan 2024</b>
                        </td>
                    </tr>
                    <tr>
                        <td>Full Paper Acceptance Notification</td>
                        <td><del>29 Feb 2024</del> <br> <b>31 March 2024</b></td>
                    </tr>
                    <tr>
                        <td>Early Bird Registration and Payment</td>
                        <td><del>29 Feb 2024</del> <br> <b>31 March 2024</b></td>
                    </tr>
                    <tr>
                        <td>Camera-Ready Paper Submission Deadline</td>
                        <td>7 May 2024</td>
                    </tr>
                    <tr>
                        <td>Deadline for Registration and Payment</td>
                        <td>10 May 2024</td>
                    </tr>
                    <tr>
                        <td>Conference Days</td>
                        <td>27 - 28 May 2024</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2 col-md-6">
            </div>
        </div>
    </section><!-- End Our Services Section -->


</main>
<!-- End #main -->


{% endblock %}


