{% extends "layout.html" %}

{% block content %}


<!-- ======= Intro Section ======= -->
<section id="home" class="services sections-bg">
    <div class="container position-relative">
        <div class="row gy-4">

            <div class="col-lg-6">
                <div class="content ps-0 ps-lg-5">

                    <div class="container"><h1>ICMSA2024</h1></div>
                    <div class="container" style="margin-bottom: 10px;"><h2>
                        Coming soon ...
                    </h2></div>

            </div>
        </div>
    </div>

</section>
<!-- End Intro Section -->


<main id="main">

</main>
<!-- End #main -->


{% endblock %}

