{% extends "layout.html" %}

{% block content %}

<!-- ======= Registration Form Section ======= -->
<section id="registration-form" class="services sections-bg">
    <div class="container position-relative">
        <div class="row gy-4">
            <div class="row gy-4">
                <a href="/submit_registration" class="btn btn-primary btn-block">
                    <span style="font-size:x-large;"> <b> >> Registration Form << </b> </span>
                </a></div>
        </div>
    </div>
</section>
<!-- End Registration Form Section -->


<main id="main">

    <!-- ======= Registration Fee Section ======= -->
    <section id="registration-fee" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <h2>Conference Registration Fee</h2>
            <div class="col-md-12 col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Local (MYR)</th>
                        <th scope="col">International (USD)</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr>
                        <td rowspan="2">Presenter (Professional)</td>
                        <td>Normal</td>
                        <td>1,500</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Early bird*</td>
                        <td>1,200</td>
                        <td>450</td>
                    </tr>
                    <tbody class="table-group-divider">
                    <tr>
                        <td rowspan="2">Presenter (Student)</td>
                        <td>Normal</td>
                        <td>1,000</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>Early bird*</td>
                        <td>800</td>
                        <td>350</td>
                    </tr>
                    <tbody class="table-group-divider">
                    <tr>
                        <td rowspan="2">Participant (Non-Presenter)</td>
                        <td>Normal</td>
                        <td>1,000</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>Early bird*</td>
                        <td>800</td>
                        <td>350</td>
                    </tr>
                    <tbody class="table-group-divider">
                    <tr></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-md-12">
                <p> *last day for Early bird payment is <del>29 Feb 2024</del> 31 March 2024. </p>

                <p>Conference registration fee covers:</p>
                <ul>
                    <li>lunch and refreshment during the conference</li>
                    <li>conference materials</li>
                    <li>access to all presentation sessions</li>
                </ul>

            </div>
        </div>
    </section><!-- End of Registration Fee Section -->


    <!-- ======= Payment Info Section ======= -->
    <section id="dinner-info" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Conference Dinner</h2>
            </div>

            <p>The Conference Dinner will be held on Monday (27 May 2024) night at the Bangi Resort Hotel.
                The Conference Dinner is optional and not included in the Conference registration fee.
                Participants who are interested in joining this social event are encouraged to indicate during the registration.
                We welcome participants' partners to join the dinner.
            </p>

            <p> <b>The fee for the Conference Dinner is MYR 150 (USD 40) per pax.</b></p>

            <p> Kindly RSVP by 1 May 2024.
                Last-minute registration for the Conference Dinner is not guaranteed, as the Hotel will need to know the number of pax in advance.</p>


        </div>

    </section>

    <!-- ======= Payment Info Section ======= -->
    <section id="payment-info" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Payment Information</h2>
            </div>

            <p>The payment of registration fee can be made to UTAR bank account as detailed below:</p>


            <div class="col-md-4 col-md-12">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td>Name of Beneficiary:</td>
                        <td>UNIVERSITI TUNKU ABDUL RAHMAN</td>
                    </tr>
                    <tr>
                        <td>Current Account No.:</td>
                        <td>3118325015</td>
                    </tr>
                    <tr>
                        <td>Beneficiary Bank:</td>
                        <td>PUBLIC BANK BERHAD</td>
                    </tr>
                    <tr>
                        <td>Bank Address:</td>
                        <td>Bandar Sungai Long Branch<br>
                            1 &amp; 3, Jalan SL 1/11, Bandar Sungai Long,<br>
                            43000 Kajang, Selangor Darul Ehsan, Malaysia<br></td>
                    </tr>
                    <tr>
                        <td>Swift code:</td>
                        <td>PBBEMYKL</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p>Kindly retain the receipt of your bank transfer and submit using the registration form above.</p>

        </div>
    </section>

</main>


<!-- End #main -->


{% endblock %}
