{% extends "layout.html" %}

{% block content %}


<!-- ======= Intro Section ======= -->
<section id="home" class="services sections-bg">
    <div class="container position-relative">
        <div class="row gy-4">

            <div class="col-lg-6">
                <div class="content ps-0 ps-lg-5">

                    <div class="container"><h1>Keynote Speakers</h1></div>

<div>


    <div class=" flex items-center justify-center">
      <div class="grid grid-cols-1 md:grid-cols-1 gap-12 ">


        <div class="flex flex-col items-center bg-white border rounded-lg shadow-md md:flex-row md:max-w-4xl mx-4 md:mx-0">
          <img class="object-cover w-full rounded-t-lg h-full  md:w-48 md:rounded-none md:rounded-l-lg" src="/static/assets/img/SALHI90905.jpg" alt="" height="150px">
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class=" text-2xl md:text-3xl font-bold tracking-tight text-gray-900">Prof. Dr. Abdel Sahli</h5>
              <h5 class="mb-2 text-xl font-normal tracking-tight text-gray-900 ">University of Essex, United Kingdom</h5>
              <h5 class="mb-2 text-lg font-light tracking-tight text-gray-900 ">"  "</h5>
              <div class="p-0.5 bg-gradient-to-br from-sky-500 to-indigo-500"></div>
              <p class="mb-3 font-normal text-gray-700 text-justify">
                  Professor Abdel Sahli holds the position of Professor of Operational Research within the School of Mathematics, Statistics, and Actuarial Science (SMSAS) at the University of Essex. With a foundation in operational research, applied mathematics, and computer science, his ongoing research encompasses optimization mathematical programming and heuristics, particularly focusing on evolutionary computing, nature-inspired algorithms, and the Strawberry algorithm. Professor Sahli imparts knowledge in nonlinear optimization and numerical analysis through his teaching endeavors. Additionally, he has provided supervision for over 10 PhD students.
            </p>
          </div>
        </div>

        <div class="flex flex-col items-center bg-white border rounded-lg shadow-md md:flex-row md:max-w-4xl mx-4 md:mx-0">
          <img class="object-cover w-full rounded-t-lg h-full  md:w-48 md:rounded-none md:rounded-l-lg" src="/static/assets/img/huanghn.jpg" alt="" height="150s">
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class=" text-2xl md:text-3xl font-bold tracking-tight text-gray-900">Prof. Dr. Huang Huang-Nan, M.Si</h5>
              <h5 class="mb-2 text-xl font-normal tracking-tight text-gray-900 "> Tunghai University, Taiwan</h5>
              <h5 class="mb-2 text-lg font-light tracking-tight text-gray-900">"Feature Selection in Echocardiogram Dataset using Machine Learning"</h5>
              <div class="p-0.5 bg-gradient-to-br from-sky-500 to-indigo-500"></div>
              <p class="mb-3 font-normal text-gray-700 text-justify">
                  Currently serving as a full Professor and the Dean of the College of Science at Tunghai University in Taiwan, Professor Huang focuses his research on various areas, including biomedical signal and image processing, robust control theory, numerical analysis, delay systems, and fluid mechanics. He has garnered recognition for his achievements, receiving awards for his work in supervised and unsupervised learning on echocardiogram data, ensuring the data confidentiality of ECG signals, and developing wavelet-based watermarking and compression techniques for SCG signals, among other notable contributions.
              </p>
          </div>
        </div>

        <div class="flex flex-col items-center bg-white border rounded-lg shadow-md md:flex-row md:max-w-4xl mx-4 md:mx-0">
          <img class="object-cover w-full rounded-t-lg h-full  md:w-48 md:rounded-none md:rounded-l-lg" src="/static/assets/img/WONGHoiYing2021S.jpg" alt="" height="150s"dd>
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class=" text-2xl md:text-3xl font-bold tracking-tight text-gray-900">Prof. Dr. Wong Hoi Ying</h5>
              <h5 class="mb-2 text-xl font-normal tracking-tight text-gray-900 ">The Chinese University of Hong Kong, Hong Kong</h5>
              <h5 class="mb-2 text-lg font-light tracking-tight text-gray-900 ">" "</h5>
              <div class="p-0.5 bg-gradient-to-br from-sky-500 to-indigo-500"></div>
              <p class="mb-3 font-normal text-gray-700 text-justify">
                  Professor Wong Hoi Ying holds the position of Professor in the Risk Management Science Program within the Department of Statistics at The Chinese University of Hong Kong. He serves as an associate editor for the International Journal of Theoretical and Applied Finance and has authored several books, including "Simulation Techniques in Financial Risk Management" and "Handbook of Financial Risk Management: Simulations and Case Studies." Professor Wong's research focuses on derivatives pricing, interest rate modeling, financial risk management, and statistical finance.
              </p>
          </div>
        </div>


      </div>
    </div>

</div>


<!--img src="http://www1.essex.ac.uk/people-images/SALHI90905.jpg" alt="Professor Abdellah Salhi" class="js-object-fit-image"> <div class="header__image-border"></div>


            </div>
        </div>
    </div>

</section>
<!-- End Intro Section -->


<main id="main">

</main>
<!-- End #main -->


{% endblock %}


