{% extends "layout.html" %}

{% block content %}


<main id="main">

    <!-- ======= Proceedings Section ======= -->
    <section id="media" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Silver Sponsor</h2>

            <div class="d-flex align-items-center  justify-content-center">
                <a href="https://conferencenext.com/">
                    <img src="/static/assets/img/scricool.jpg"
                         alt="sricool.jpg" target=”_blank” height="160"></a>

            </div>
             </div>

            <br><br>


            <div class="section-header">
                <h2>Bronze Sponsor</h2>

            <div class="d-flex align-items-center  justify-content-center">
                <a href="https://conferencenext.com/">
                    <img src="/static/assets/img/ISMy.gif"
                         alt="ISMy.gif" target=”_blank” height="100"></a>
            </div>
            </div>


            <br><br>

            <div class="section-header">
                <h2>Conference Media Partners</h2>

            <div class="d-flex align-items-center  justify-content-center">
                <a href="https://conferencenext.com/">
                    <img src="/static/assets/img/Conference_Next_Logo.png"
                         alt="Conference_Next_Logo.png" target=”_blank” height="100"></a>

                <a href="https://conferencealerts.co.in/">
                    <img src="/static/assets/img/Logo-CA.jpg"
                         alt="Logo-CA.jpg" target=”_blank” height="100"></a>

                <a href="https://internationalconferencealerts.com/">
                    <img src="/static/assets/img/INTERNATIONAL-CONFERENCE-ALERTS.png"
                         alt="INTERNATIONAL-CONFERENCE-ALERTS.png" target=”_blank” height="100"></a>
            </div></div>

        </div>
    </section><!-- End Scope Section -->


</main>
<!-- End #main -->


{% endblock %}


