{% extends "layout.html" %}


{% block content %}

<div role="main">
    <form action="/api/form_registration" name="form-registration" enctype="multipart/form-data" method="post">

        <h3> Please fill out the form below and click the Submit button. </h3>
        <br/>

        <table class="auto-style2">
            <tr>
                <td colspan="2">First Name*:</td>
                <td colspan="2">
                    <input type="text" name="first_name" value="" required="True" size="60" maxlength="160"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">Last Name*:</td>
                <td colspan="2">
                    <input type="text" name="last_name" value="" required="True" size="60" maxlength="160"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">Affiliate Institution*:</td>
                <td colspan="2">
                    <input type="text" name="affiliation" value="" required="True" size="60" maxlength="160"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">Email*:</td>
                <td colspan="2">
                    <input type="email" name="corresponding_email" value="" required="True" size="60" maxlength="160"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">Contact No*:</td>
                <td colspan="2">
                    <input type="tel" name="phone" value="" required="True" size="60" maxlength="160"
                           placeholder="+6012 345 6789"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">Paper Submission ID (if you have it):</td>
                <td colspan="2">
                    <input type="text" name="submission_id" value="" required="False" size="60" maxlength="160"/>
                </td>
            </tr>
            <tr>
                <td colspan="4"> &nbsp;</td>
            </tr>

            <tr>
                <td colspan="1">Type of participant*:</td>
                <td colspan="1">&nbsp;</td>
                <td colspan="1">
                    <input type="radio" id="participant_type" name="participant_type" value="yes" checked>
                    <label for="professional_presenter">professional presenter</label>
                </td>
                <td colspan="1">
                    <input type="radio" id="participant_type" name="participant_type" value="no" checked>
                    <label for="student_presenter">student presenter</label>
                </td>
                <td colspan="1">
                    <input type="radio" id="participant_type" name="participant_type" value="no">
                    <label for="non_presenter">non-presenter</label></td>
                <td colspan="1"></td>
            </tr>

            <tr>
                <td colspan="1">Register Conference Dinner*:</td>
                <td colspan="1">&nbsp;</td>
                <td colspan="1">
                    <input type="radio" id="join_dinner" name="join_dinner" value="yes" checked>
                    <label for="yes_dinner">yes</label>
                </td>
                <td colspan="1">
                    <input type="radio" id="join_dinner" name="join_dinner" value="no">
                    <label for="no_dinner">no</label></td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td colspan="2">Additional Dinner Ticket:</td>
                <td colspan="2">
                    <input type="number" name="additional_dinner_ticket" value="0" min="0" max="10" required="False" size="60" maxlength="160" placeholder="None"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">Food Allergic:</td>
                <td colspan="2">
                    <input type="text" name="diet_allergic" value="" required="False" size="60" maxlength="160" placeholder="None"/>
                </td>
            </tr>

            <tr>
                <td colspan="4"> &nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Upload Proof of Payment (pdf)*</td>
                <td colspan="2">:
                    <input name="submission_payment_file" type="file" required="True">
                </td>
            </tr>
            <tr>
                <td colspan="2">Upload Proof of Student Status (pdf)*</td>
                <td colspan="2">:
                    <input name="submission_student_status_file" type="file" required="True">
                </td>
            </tr>
        </table>


        <input type="submit" class="auto-style1 auto-style20" value="Submit">
        <button onClick="window.location.reload();">Reset</button>
    </form>
</div>


<hr>

{% endblock %}