{% extends "layout.html" %}


{% block content %}


<!-- ======= Important Dates Section ======= -->
<section id="important-dates" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <h2>Submission Links</h2>
        <div class="col-md-6 col-md-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Deadline</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr>
                    <td><a><b>Abstract Submission (Closed)</b> ⬅️ ⬅️ ⬅️ ️️️</a></td>
                    <td><del>30 Nov 2023</del> <br> <b> 15 Dec 2023 </b></b></td>
                </tr>
                <tr>
                    <td><a><b>Full Paper Submission (Closed)</b> ⬅️ ⬅️ ⬅️ </a></td>
                    <!-- <td><a><b>Full Paper Submission </b> ⬅️ ⬅️ ⬅️ </a></td> -->
                    <td> <del>15 Jan 2024</del> <br> <b>31 Jan 2024</b></td>
                </tr>
                <tr>
                    
                    <td><a><b>Camera-Ready Paper Submission (Closed)</b> ⬅️ ⬅️ ⬅️ </a></td>
                    
                    <!--<td><a><b>Camera-Ready Submission</b> (link open soon ... )</a></td> -->
                    <td>7 May 2024</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2 col-md-6">
        </div>
    </div>
</section><!-- End Our Services Section -->


<!-- ======= Scope Section ======= -->
<section id="guide-to-authors" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Guide to Authors</h2>
        </div>

        <h3> Guidelines for Abstract Submission </h3>
        <ol>
            <li>
                All authors are required to submit an abstract (for acceptance consideration) via the link at the top of
                this page. All abstracts must be submitted in English. Please use the template provided to prepare your
                abstract.
                <ul>
                    <li><a href="/static/assets/files/Abstract_Template_ICMSA2024.docx" class="link-primary">Abstract
                        Template (Word)</a>
                    </li>
                </ul>
            </li>
            <li>
                After completing the review process of the abstract, the Organizing Committee will send an 'Abstract
                Acceptance Letter' to notify the authors.
            </li>
        </ol>


        <h3> Guidelines for Full Paper Submission </h3>
        <ol>
            <li>
                After receiving the ‘Abstract Acceptance Letter’ from the Organizing Committee, the authors can submit a
                full paper as per the guidelines specified in the Abstract Acceptance Letter. All full papers must be
                submitted in English.
            </li>
            <li>
                All authors are required to submit the full paper via the link at the top of
                this page. Please use the template provided to prepare your
                abstract.
                <ul>
                    <li><a href="/static/assets/files/Full_paper_template_ICMSA_2024.docx" class="link-primary">Full
                        Paper Template (Word)</a>
                    </li>
                    <li><a href="/static/assets/files/macro-latex-web-conf.zip">Full Paper Template (Latex)</a></li>
                </ul>
            </li>
            <li>
                After completing the review process of the full paper, the Organizing Committee will send an 'Paper
                Acceptance Letter' to all the authors. The authors may need to revise their full paper if necessary
                (according to the comments of reviewers).
            </li>
        </ol>
        <h3> Guidelines for Camera-Ready Paper Submission </h3>
        <ol>
            <li>
                After receiving the ‘Paper Acceptance Letter’ from the Organizing Committee, the authors can submit a final
                camera-ready paper as per the guidelines specified in the Full Paper Template.
            </li>
            <li>
                All authors are required to submit the camera-ready paper via the link at the top of
                this page.
            </li>
            <li>
                Authors are required to attach <a href="/static/assets/files/License_Agreement_Form.pdf"
                                                  class="link-primary">'License Agreement Form'</a> for camera-ready paper
                submission.
            </li>
        </ol>


    </div>
</section><!-- End Scope Section -->


</main>
<!-- End #main -->


{% endblock %}


