{% extends "layout.html" %}


{% block content %}


<h3>Registration Submitted</h3>

<p>Please <b>print</b> or <b>save</b> a copy of this receipt for future corresponding. Thank you.</p>

<div class="table-responsive-sm">
    <table class="table table-striped table-bordered table-hover">
        <tbody>
        <tr>
            <td>First Name:</td>
            <td>{{rec.first_name}}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{rec.last_name}}</td>
        </tr>
        <tr>
            <td>Submission Timestamp:</td>
            <td>{{rec.timestamp}}</td>
        </tr>
        <tr>
            <td>Corresponding Email:</td>
            <td>{{rec.email}}</td>
        </tr>
        <tr>
            <td>Affiliation:</td>
            <td>{{rec.affiliation}}</td>
        </tr>
        <tr>
            <td>Contact Number:</td>
            <td>{{rec.phone}}</td>
        </tr>
        <tr>
            <td>Proof of Payment:</td>
            <td><a href="/api/get_payment_proof?fname={{rec.payment_proof_filename}}">{{rec.payment_proof_filename}} </a></td>
        </tr>
        <tr>
            <td>Proof of Student Status:</td>
            <td><a href="/api/get_student_proof?fname={{rec.student_status_proof_filename}}">{{rec.student_status_proof_filename}} </a></td>
        </tr>
        </tbody>
    </table>

</div>


{% endblock %}